<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Online Test Application</h1>
    <p class="col-md-8 fs-4"> The Online Test Application system creates an application that
        enables users to provide online tests, review them, and display the
        results. This quiz will contains total 10 questions and each
        question holds 10 points</p>
    <h3>Rules:</h3>
        <ol>
            <li>Correct Question gives you 10 points</li>
            <li>Incorrect Question gives you -10 points</li>
            <li>You will have 60 sec to answer each question</li>
            <li>Refreshing the page will reset the Quiz</li>
        </ol>
        <h1 style="font-family: cursive; text-align:center">All the best!!</h1>
        <div class="name col-md-4 my-3">
            <label for="">Enter your Name:</label>
            <input #name type="text" class="form-control"formControlName="email" placeholder=" Name"/>
            <br>
            <label for="">Enter your Email Address:</label>
            <input #email type="email" class="form-control"formControlName="email" placeholder=" Email Address" />
          
        </div>
       <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button> 
</div>